body {
  background-color: tan;
  margin: 0;
  min-width: 100%;
  min-height: 100%;
}

.nav-bar-wrapper {
  display: flex;
  border: 2px solid black;
  padding: 20px;
  background-color: #ffd1dc;
  color: black;
  justify-content: space-evenly;
  border-radius: 5px;
}

.nav-bar-wrapper a {
  display: flex;
  font-size: bold;
  text-decoration: none;
}

.footer-container {
  background-color: #333;
  color: #fff;
  padding: 20px;
  position: fixed;
  width: 100%;
  bottom: 0;
}

.hero-container {
  display: flex;
  justify-content: center;
}

.main-body-container {
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.main-body-wrapper {
  display: flex;
  gap: 20%;
}

.left-body {
  display: flex;
  flex-direction: column;
  gap: 10%;
}

.footer-wrapper {
  display: flex;
  justify-content: space-around;
}
