body {
  background-color: tan;
  margin: 0;
  min-width: 100%;
  min-height: 100%;
}

.nav-bar-wrapper {
  display: flex;
  border: 2px solid black;
  padding: 20px;
  background-color: #ffd1dc;
  color: black;
  justify-content: space-evenly;
  border-radius: 5px;
}

.nav-bar-wrapper a {
  display: flex;
  font-size: bold;
  text-decoration: none;
}

.hero-container {
  display: flex;
  justify-content: center;
}

table {
  background-color: white;
}

.main-page-container {
  height: 100%;
}

.main-page-wrapper {
  height: 100%;
}

.main-body-container {
  display: flex;
  justify-content: center;
  border-radius: 5px;
  margin: 10px 10px 10px;
  background-color: wheat;
}

.main-body-container h2 {
  display: flex;
  justify-content: center;
}

.bear-video-container {
  display: flex;
  justify-content: center;
}

.footer-container {
  background-color: #333;
  color: #fff;
  width: 100%;
  bottom: 0;
}

.footer-wrapper {
  display: flex;
  justify-content: space-around;
}
